bind ${BIND_ADDRESS}
port ${PORT}
loadmodule /usr/lib/valkey/libvalkey_bloom.so
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 15000
appendonly yes
dir /valkey-data/${PORT}
protected-mode no
